html {
  overflow-x: scroll;
  overflow-y: scroll;
  font-family: Monaco, Serif;
  scroll-behavior: smooth;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

body {
	background-color: #272727;
  padding: 0;
  margin: 0;
}